<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="ServerDatabase" value="localhost"/>
    <add key="Database" value="Saigsa"/>
    <add key="User" value=""/>
    <add key="Pass" value=""/>
    <add key="PathQueryConstruct" value="C:\Users\enriq\OneDrive\Escritorio\Excel\SQLQueryConstructor.sql"/>
  </appSettings>
</configuration>